/* .vitepress\theme\style\blur.css */
:root {

  /* 首页下滑后导航透明 */
  .VPNavBar:not(.has-sidebar):not(.home.top) {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
  }

  /* 搜索框透明 */
  .DocSearch-Button {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
  }

  /* Feature透明 */
  .VPFeature {
    border: 1px solid transparent;
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 15%);
    background-color: transparent;
  }

  /* 文档页侧边栏顶部透明 */
  .curtain {
    background-color: rgba(246, 246, 247, 0.7);
    backdrop-filter: blur(20px);
  }

  @media (min-width: 960px) {

    /* 文档页导航中间透明 */
    .VPNavBar:not(.home):not(.top) .content-body {
      background-color: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(20px);
    }
  }

  /* 移动端大纲栏透明 */
  .VPLocalNav {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
  }

}

/* 深色模式 */
.dark {

  /* 首页下滑后导航透明 */
  .VPNavBar:not(.has-sidebar):not(.home.top) {
    background-color: rgba(27, 27, 31, 0.7);
  }

  /* 搜索框透明 */
  .DocSearch-Button {
    background-color: rgba(27, 27, 31, 0.7);
  }

  /* 文档页侧边栏顶部透明 */
  .curtain {
    background-color: rgba(22, 22, 24, 0.7);
  }

  @media (min-width: 960px) {

    /* 文档页导航中间透明 */
    .VPNavBar:not(.home):not(.top) .content-body {
      background-color: rgba(27, 27, 31, 0.7);
    }
  }

  /* 移动端大纲栏透明 */
  .VPLocalNav {
    background-color: rgba(27, 27, 31, 0.7);
  }

}