:root {
  --vp-c-brand-1: #9D2C1A;
  --vp-c-brand-2: #B33520;
  --vp-c-brand-3: #C94A30;
  --vp-c-brand-soft: #E6B3A8;
}

.dark {
  --vp-c-brand-1: #C94A30;
  --vp-c-brand-2: #B33520;
  --vp-c-brand-3: #9D2C1A;
  --vp-c-brand-soft: #4D1610;
}
